@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: Poppins, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-sans);
}

body {
    background-color: #f5f8fa;
}

a {
    color: #52c9ff;
}

.title {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
}

/* Header */

header {
    margin-bottom: 2rem;
}

nav {
    width: 80vw;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 6rem;
}

nav a img {
    height: 60px;
    vertical-align: middle;
}

nav a {
    margin-right: 1.5rem;
    text-decoration: none;
    color: #000;
}

/* Footer */

footer {
    margin-top: 2rem;
    background-color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Animal Component */

.animal-container {
    width: 80vw;
    margin: 2.5rem auto;
}

.animal {
    color: #000;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}

.animal img {
    height: 200px;
    width: 200px;
}

.animal-infos {
    width: 100%;
    margin-left: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.button-row {
    display: none;
}
