@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: Poppins, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-sans);
}

body {
    background-color: #f5f8fa;
}

a {
    color: #52c9ff;
}

.title {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
}

/* Header */

header {
    margin-bottom: 2rem;
}

nav {
    width: 80vw;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 6rem;
}

nav a img {
    height: 60px;
    vertical-align: middle;
}

nav a {
    margin-right: 1.5rem;
    text-decoration: none;
    color: #000;
}

/* Footer */

footer {
    margin-top: 2rem;
    background-color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Animal Component */

.animal-container a {
    display: contents;
    text-decoration: none;
    color: inherit;
}

.animal-container {
    width: 75vw;
    margin: 2.5rem auto;
    margin-bottom: 6rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
}

.animal {
    background-color: #fff;
    color: #000;
    border-radius: 1rem;
    padding: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.animal h3 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 0.5rem;
}

.animal img {
    border-radius: 0.25rem;
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.animal p {
    margin-bottom: 0.25rem;
}

.button-row {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.button-row a {
    font-size: 1.2rem;
    display: inline-block;
    color: #52c9ff;
}
